---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <h2>... and my new Astro site!</h2>
</BaseLayout>