---
---
<nav class="nav-links">
    <a href="/personal_astro_blog/">Home</a>
    <a href="/personal_astro_blog/about/">About</a>
    <a href="/personal_astro_blog/blog/">Blog</a>
    <a href="/personal_astro_blog/tags/">Tags</a>
</nav>
